@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

:root{
    --letra-poppins:'Poppins', sans-serif;
    --letra-Open-Sans:'Open Sans', sans-serif;
    --letra-footer: 'Rubik', sans-serif;
}

* {
  margin: 0rem;
  padding: 0rem;
  box-sizing: border-box;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
  margin-bottom: 5rem;
}

nav > div > img {
  width: 100px;
}

nav>p{
    padding: 0.3rem 1.3rem;
    color: hsl(321, 100%, 78%);
    border: 1px solid hsl(321, 100%, 78%);
    border-radius: 20px;
    font-family: var(--letra-poppins);
}
nav>p:hover{
    cursor: pointer;
}
main{
    margin: 2rem 2rem;
    text-align:center;
}

main>h1{
    margin: 0rem 0rem;
    font-family: var(--letra-Open-Sans);

}
main > h1 + p {
  margin: 3rem 0rem;
  font-family: var(--letra-Open-Sans);
  font-weight: 700px;
}

main>p:last-child{
    margin: 2rem 2rem;
    padding: 1rem 1rem;
    color: white;   
    background-color: hsl(322, 100%, 66%);
    border-radius: 40px;  
    font-family: var(--letra-Open-Sans);
    font-weight: 600;
    box-shadow: 10px 10px 97px -30px rgba(0,0,0,1);
}
main>p:last-child:hover{
    cursor: pointer;

}




#social{

  margin: 8rem 2rem;
  padding: 0.5rem;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#social > img {
  width: 75%;
}
#cont-social {
  display: flex;
  flex-direction: column;
}
#cont-social > div img {
  display: flex;
  justify-content: center;
  padding: 1rem;
  margin-top: 0.5rem;
  margin-left: -1rem;
  width: 40%

}

#cont-social h2 {
  font-weight: 700;
  font-family: var(--letra-poppins);
  font-size: 50px;
}

#cont-social p {
  display: flex;
  opacity: 30%;
  font-family: var(--letra-poppins);
  font-weight: 400;
}
@media screen and (min-width: 1000px) {
  #cont-social {
    flex-direction: row;
    justify-content: space-between;
    width: 750px;
  }
}

}

footer{
    color: white;
    font-size: 20px;
}


#footer_background{
    width: 100%;
    height: 158px;
    background-image: url('../images/bg-footer-top-desktop.svg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: red; 
}

#footer_section4{
    display: flex;
    flex-direction: row;
    padding: 75px;
    width: 100%;
    height: 570px;
    background: #00252E;
}

.title_footer{
    display: flex;
    height: 75px;
    flex-direction: row;   
}

#contact{
    width: 58%;
    padding-right: 200px;  
}

#contact h2{
    font-family: var(--letra-footer);
    font-size: 45px;
}

.contact_info{
    margin-top: 30px;
}

.contact_info > p {
    padding: 20px 0px;
    display: contents;
}

#register{
    width: 35%; 
}

#register h2{
    font-family: var(--letra-footer);
    font-size: 25px;
    font-weight: 100;
}


#suscribe{
    margin-top: 40px;
}

#suscribe input{
    border-radius: .5em;
    width: 270px;
    height: 43px;
    padding: 10px;
    font-size: 20px;
    margin-right: 15px;
}

#suscribe > button{
    color: white;
    font-size: 15px;
    font-family: var(--letra-footer);
    width: 125px;
    background-color: #FF52BF;
    border-radius: .5em;
    padding: 14px;
}

@media only screen and (max-width: 849px){
    #register{
        width: 100%; 
        margin-bottom: 117px;
        margin-top: 40px;
    }

    #contact{
        width: 100%;
        padding-right: 0px; 
        padding-bottom: 40px; 
    }

    #footer_section4{
        flex-direction: column-reverse;
        padding: 190px;
        margin: auto;
        padding-bottom: 0px;
        padding-top: 0px;
        height: auto;
    }

    #suscribe input{
        width: 100%;
    }

    #suscribe > button{
        position: absolute;
        right: 188px;
        margin-top: 20px;
    }
}

@media only screen and (max-width: 599px){
    #footer_section4{
        padding: 40px;
        height: auto;
        font-size: 20px;

    }

    #suscribe > button{
        right: 41px;
    }
}

@media only screen and (max-width: 375px){
    #footer_background{
        background-image: url('../images/bg-footer-top-mobile.svg');
        height: 49px;
    }
}
